
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.container {
    width: 100%;
    max-width: 48rem;
    height: 90vh;
    padding: 0 20px;
    filter: blur(0);
    transition: filter 0.5s ease;
    border-radius: 10px;
    background: #000;
    box-sizing: border-box;
  }
  
  .blurred {
    filter: blur(30px);
  }

.navbar{
    padding: 2rem 1rem;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.navbar li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: auto;
    height: auto;
}

.navbar a{
    padding-bottom: 0.75rem;
    color: #cccccc72;
    text-decoration: none;  
    transition: all 0.3s ease;
}

.navbar a:hover {
    color: white;
    transition: all 0.3s ease;
}

.navbar li:hover {
    transform: scale(1.1);
}

.content{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 500;
    color: #f2f2f2;
}

.content h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    color: #f2f2f2;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.5rem;
    font-weight: 700;
}

.content .color {
    background: linear-gradient(to right, #00aaff, #9c27b0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.contactContainer {
    
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.contactContainer li{
    list-style: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 125px;
    height: 30px;
}

.contactContainer a{
    text-decoration: none;
}

.contactContainer span{
    color: black;
    margin-left: 10px; 
}

.contactContainer li:hover {
    transform: scale(1.1);
}