@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pixelify Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pixelify Sans', sans-serif;
  background-color: #18181B;
  overflow: hidden;
  user-select: none;
}

.container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto; 
  height: 90vh;
  padding: 0 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  position: absolute;
  border: 2px solid;
  box-shadow: 0 0 10px rgba(255, 0, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.8);
  transition: border-color 1s ease, box-shadow 1s ease;
}

.sombreador {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #9b27b03f;
  pointer-events: none;
  box-shadow: 0 0 30px rgba(252, 209, 209, 0.2), 0 0 60px rgba(255, 255, 255, 0.1), 0 0 90px rgba(230, 163, 163, 0.05);
  filter: blur(20px);
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .sombreador {
    display: none;
  }
}